venv
tests/
docs/
logs
.gitlab
.idea
*cfg

**/__pycache__
/usr/local/lib/python3.10/site-packages/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
**/*.log
.git
.mypy_cache
.pytest_cache
.ruff_cache