stages:
  - lint
  - test
  - build-and-push-app

include:
  - local: '.gitlab/ci/Dependency-Management.gitlab-ci.yml'
  - local: '.gitlab/ci/Lint.gitlab-ci.yml'
  - local: '.gitlab/ci/Test.gitlab-ci.yml'
  - local: '.gitlab/ci/Build-and-Push-App.gitlab-ci.yml'